
<ion-view title="Change Password">
    <ion-content class="ion-contentColor content-changepass">
        
        <div class="list list-inset" style="width:100%">
            <label class="item item-input">
                <input type="password" placeholder="Old Password" ng-model="data.OldPassword">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="New Password" ng-model="data.NewPassword">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Re-Enter Password" ng-model="data.reenterpassword">
            </label>
           


        </div>
       
    </ion-content>
    <ion-footer-bar >
        
            <button class="button button-block button-positive" style="margin:0" ng-click="changePassword(data)">Submit</button>
        
    </ion-footer-bar>
</ion-view>
