<ion-view view-title="My Activity">
    <ion-content>

        <div ng-repeat="val in myPosts" class="list card">

            <div class="item item-avatar">

                <img src="http://smartservicesapp.com/Uploads/ProfilePic/{{val.Userinfo[0].FilePathName}}" />
                <h2 style="white-space:normal;line-height: 22px;">{{val.Userinfo[0].FirstName}} {{val.Userinfo[0].LastName}} <span style="color:gray">added as {{privacyName(val.PrivacyID)}} for {{getCategoryName(val.CategoryID)}}</span></h2>
                <p>
                    {{convertDate(val.CreatedDate) | date:'MMM dd, y'}}
                    <div><i class="icon ion-chevron-down edit-blog" ng-show="val.UserID==UserId" ng-click="openPopover($event,val.BlogId,$index)"></i></div>
                </p>
            </div>
            <div class="item item-body">
                <img ui-sref="blogsdetailed({BlogId:val.BlogId,CategoryID:null})" class="full-image" src="http://smartservicesapp.com/Uploads/BlogDoc/{{val.Fileinfo[0]}}" />
                <p>
                    {{val.textContent}}
                </p>
                <p>
                    <div class="border-boxing">
                        <div class="center-div" style="width:31%">
                            <i class="icon ion-thumbsup"></i>
                            <a ng-click="likeBlog(val.BlogId,$index)"><span style="color:royalblue">{{val.UserLikesCount}}</span> Like </a>

                        </div>
                        <div class="center-div" style="width:40%">
                            <i class="icon ion-chatbox"></i>
                            <a ui-sref="blogsdetailed({BlogId:val.BlogId,CategoryID:null})">Comments</a>
                        </div>
                        <div class="center-div" style="width:29%">
                            <i class="icon ion-share"></i>
                            <a ng-click="shareWith(val.textContent,val.Fileinfo[0])">Share</a>
                        </div>
                    </div>
                </p>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMore1()"
                             distance="5%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>