<ion-popover-view style="height:110px; width:30%">
    <ion-content class="ion-contentColor dark-border">
        <div class="list">
            <div class="item" ng-click="editBlog(BlogIdpop)" style="padding: 5px;">
                <div class="row">
                    <div class="col col-33">
                        <i class="icon ion-edit" style="font-size: 16px;">

                        </i>
                    </div>
                    <div class="col col-67">
                        <h3>Edit</h3>
                    </div>
                </div>
               
                

            </div>
            <div class="item" ng-click="deleteBlog(BlogIdpop)" style="padding: 5px;">
               
                <div class="row">
                    <div class="col col-33">
                        <i class="icon ion-android-delete" style="font-size: 16px;">

                        </i>
                    </div>
                    <div class="col col-67">
                        <h3>Delete</h3>
                    </div>
                </div>


            </div>
        </div>
     </ion-content>
</ion-popover-view>