<ion-popover-view style="height:214px; width:30%">
    <ion-content class="ion-contentColor dark-border">
        <div class="list">
            <div class="item" ng-click="shareWith('WhatsApp')" style="padding: 5px;">
                <div class="row">
                    <div class="col col-33">
                        <i class="icon ion-social-whatsapp-outline" style="font-size: 16px;">

                        </i>
                    </div>
                    <div class="col col-67">
                        <h3>WhatsApp</h3>
                    </div>
                </div>



            </div>
            <div class="item" ng-click="shareWith('Facebook')" style="padding: 5px;">

                <div class="row">
                    <div class="col col-33">
                        <i class="icon ion-social-facebook-outline" style="font-size: 16px;">

                        </i>
                    </div>
                    <div class="col col-67">
                        <h3>Facebook</h3>
                    </div>
                </div>


            </div>
            <div class="item" ng-click="shareWith('Twitter')" style="padding: 5px;">

                <div class="row">
                    <div class="col col-33">
                        <i class="icon ion-social-twitter-outline" style="font-size: 16px;">

                        </i>
                    </div>
                    <div class="col col-67">
                        <h3>Twitter</h3>
                    </div>
                </div>


            </div><div class="item" ng-click="shareWith('Email')" style="padding: 5px;">

    <div class="row">
        <div class="col col-33">
            <i class="icon ion-ios-email-outline" style="font-size: 16px;">

            </i>
        </div>
        <div class="col col-67">
            <h3>Email</h3>
        </div>
    </div>


</div>
        </div>
    </ion-content>
</ion-popover-view>